@model EgelTraining.Domain.Entities.Alumno
@{
    ViewBag.Title = "Editando" + Model.Matricula;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3>Editar @Model.Nombre</h3>
    </div>

   
        @using (Html.BeginForm("Edit", "AdminAlumno"))
        {
            <div class="panel-body">

                @Html.LabelFor(Model => Model.Matricula)
                @Html.TextBoxFor(Model => Model.Matricula, new { @class = "form-control" })

                @Html.LabelFor(Model => Model.Nombre)
                @Html.TextBoxFor(Model => Model.Nombre, new { @class = "form-control" })

                @Html.LabelFor(Model => Model.ApellidoPaterno)
                @Html.TextBoxFor(Model => Model.ApellidoPaterno,new {@class = "form-control" })

                @Html.LabelFor(Model => Model.ApellidoMaterno)
                @Html.TextBoxFor(Model => Model.ApellidoMaterno, new { @class = "form-control" })

                @Html.LabelFor(Model => Model.CorreoElectronico)
                @Html.TextBoxFor(Model => Model.CorreoElectronico, new { @class = "form-control" })
             

                @Html.LabelFor(Model => Model.Carrera)
                
                
                @Html.DropDownListFor(Model => Model.Carrera, (SelectList)ViewBag.siglasCarrera, new { @class = "form-control" })    
    
                @*otras formas menos limpias de hacerlo*@
                @*@Html.DropDownList("Carrera", (SelectList)ViewBag.siglasCarrera , htmlAttributes: new { @class = "form-control" })*@

            </div>

            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancelar y regresar a Alumnos", "Index", null, new { @class = "btn btn-default" })
            </div>

        }
            



 </div>



