@model IEnumerable<EgelTraining.Domain.Entities.Alumno>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Alumnos</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                @*<th class="text-right">ID</th>*@
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo Electrónico</th>
                <th>Carrera</th>

                <th class="text-center"></th>
            </tr>
            @foreach (var alumno in Model)
            {
                <tr>
                    <td>@Html.ActionLink(alumno.Matricula,"Edit",new { alumno.Matricula})</td>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.ApellidoPaterno</td>
                    <td>@alumno.ApellidoMaterno</td>
                    <td>@alumno.CorreoElectronico</td>
                    <td>@alumno.Carrera1.NombreLargo</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "AdminAlumno"))
                        {
                            @Html.Hidden("Matricula", alumno.Matricula)
                            <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                        }

                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Crear Alumno", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>

