@model EgelTraining.Domain.Entities.Tema

@{
    ViewBag.Title = "Editando:" + Model.NombreTema;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Editar @Model.NombreTema</h3>
    </div>

    @using (Html.BeginForm("Edit", "AdminTema"))
    {
        <div class="panel-body">
            
            <label class="label label-primary">@Html.NameFor(c=>c.ClaveTema)</label>
            @Html.TextBox("ClaveTema",null,new { @class = "form-control" })


            <label class="label label-primary"> @Html.NameFor(c => c.NombreTema)</label>
            @Html.TextBox("NombreTema", null, new { @class = "form-control" })


        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancelar y regresar a Temas", "Index", null, new { @class = "btn btn-default" })
        </div>

    }

</div>


